/*!
 * Remark Material (http://getbootstrapadmin.com/remark)
 * Copyright 2017 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-login:before{background-image:url(../../images/login.jpeg); background-position: 54% 75%!important; transform: scaleX(-1);}.page-login form{width:340px;margin:30px 0}.page-login form a{margin-left:20px}.page-login .floating-label,.page-login .form-control,.page-login .form-control:focus+.floating-label{color:#bdbdbd}.page-login a{color:#9fa8da}@media (max-width:767px){.page-login form{width:auto}}
