/*!
 * Remark Material (http://getbootstrapadmin.com/remark)
 * Copyright 2017 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-register:before{background-image:url(../../images/login.jpeg); background-position: 54% 75%!important; transform: scaleX(-1);}.page-register a{color:#9fa8da}.page-register form{width:340px;margin:22px auto}.page-register .floating-label,.page-register .form-control,.page-register .form-control:focus+.floating-label{color:#bdbdbd}@media (max-width:479px){.page-register form{width:auto}}
